[submodule "awesome"]
	path = awesome
	url = git@github.com:Clusterfonk/awesome.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:Clusterfonk/nvim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
