[submodule "awesome"]
	path = awesome
	url = git@github.com:Clusterfonk/awesome.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:Clusterfonk/nvim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
[submodule "tmux/plugins/tmux-gruvbox-truecolor"]
	path = tmux/plugins/tmux-gruvbox-truecolor
	url = git@github.com:Clusterfonk/tmux-gruvbox-truecolor.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "yd60mq"]
	path = yd60mq
	url = git@github.com:Clusterfonk/yd60mq.git
